.login-container {
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    background-color: bisque;
}


.login-header {
    color: brown;
}

.login-btn {
    background-color: rgb(158, 86, 34);
    color: bisque;
    border: 0;
    padding: 5px 25px;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
}

.login-btn:hover {
    background-color: brown;
    color: white;
}