.card {}

.button-33 {
    border: 0;
    background-color: brown;
    color: bisque;
    border: 1px solid bisque;
    border-radius: 4px;
    margin: 4px 10px;
}

.body {
    background-color: bisque;
}


.container {
    position: relative;
    padding: 15px 0;
}

.container .card {
    position: relative;
    width: 300px;
    height: 580px;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(253, 211, 160);
}