.services-btn {
    background-color: rgb(158, 86, 34);
    color: bisque;
    border: 0;
    padding: 5px 25px;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
}

.card-img {
    height: 600px;
    width: auto;
}

.services-btn:hover {
    background-color: brown;
    color: white;
}